{% extends namespace ~ '_meta.twig' %}

{% block content_inside %}
    <h1>NGINX UI</h1>


    {% if sites_enabled %}
        <p>Sites Enabled</p>

        <ul>
            {% for site in sites_enabled %}
                <li>

                    <a href="/site/enabled/{{ site }}">{{ site }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if sites_available %}
        <p>Sites Available</p>

        <ul>
            {% for site in sites_available %}
                <li>

                    <a href="/site/available/{{ site }}">{{ site }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}