{% extends namespace ~ 'default_content_plain.twig' %}

{% block head_style %}
    {{ parent() }}
    <style>
        * {
            box-sizing:  border-box;
            word-break:  break-all;
            color:       #bababa;
            font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
        }

        h1, h2, h3, h4, h5 {
            font-family: "Source Code Pro", monospace;
        }

        html {
            background: #2b2b2b;
        }
    </style>
{% endblock %}

{% block head_begin %}
    <base href="/out/">
{% endblock %}


{% block foot_js %}
    {{ parent() }}
{% endblock %}