{% extends namespace ~  'default.twig' %}

{% block sidebar_left %}{% endblock %}

{% block content_begin %}
    {% include namespace ~ 'block/content-begin.twig' ignore missing %}
{% endblock %}
{% block content_inside %}
    {% include namespace ~ 'block/content.twig' ignore missing %}
{% endblock %}
{% block content_end %}
    {% include namespace ~ 'block/content-end.twig' ignore missing %}
{% endblock %}

{% block sidebar_right %}{% endblock %}